nav {
	height:55px;
}
.navbar .dropdown-item {
    width: 280px;
}

#widgetAccordions {
    width: 160px;
    height: calc(100vh - 55px);
	
	.accordion-body {
		padding: 0;
	}
}
#properties-nav {
	width:250px;
    height: calc(100vh - 55px);
	overflow:auto;
	label.form-label {
		font-size: 0.8em;
		margin: 0;
	}
	.input-group .input-group-text {
		font-size: 0.8em;
		padding: 8px;
	}
	.input-group.half {
		width: 48%;
		display: inline-flex;
	}
	
	.btn-switch-prop {
		padding: 8px;
		background: #e9ecef;
		color: black;
		font-size: 0.8em;
		border: 1px solid #ced4da;
		width: 45px;
	}
}


#sidebar-nav .accordion-item,
#properties-nav .accordion-item {
	border: 0px;
}
#sidebar-nav .accordion-button,
#properties-nav .accordion-button {
	box-shadow: 0px 2px 5px #444;
}

#data-panel {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
	.card-header {
	    cursor: grab;
		span {
			user-select: none;
		}
	}
	
}
#dataModal {

	.CodeMirror {
		border: 1px solid #ced4da;
		border-radius: 4px;
	}
}
main {
	position: relative;
	background: #fff;
    height: calc(100vh - 55px);
    overflow: auto;
    padding-bottom: 30px;
}
.form-label.required:after {
  content:"*";
  color:red;
}
.widgetbtn {
	display: inline-block;
	width: 80px;
	font-size:0.6em;
	text-align: center;
	color: lightgrey;}
.widgetbtn > .widgetIcon {
	font-size: 2em;
	display:block;
	color: lightgrey;
}
.widgetIcon.rowwidget {
	width: 25px;
	height: 15px;
	border: 0.1em dotted lightgrey;
	display: block;
	margin:6px auto;
}
.edition {
	padding: 0px 25px 0px 0px;
}
.edition .form-field {
	position: relative;
	border: 1px blue dotted;
	padding: 2px;
	margin-bottom: 15px !important;
	background: #EFEFEF;
}
.edition .form-field.row-element {
    border-left: 6px solid #6699cc;
    padding-left: 5px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    box-shadow: none;
}
.edition span.form-field-type {
	position: absolute;
	top: -11px;
	background: lightgrey;
	font-size: 0.7em;
}
.edition .form-field.row-element > span.form-field-type {
    display:none;
}
.preview span.form-field-type {
	display:none;
}
[draggable="true"] {
	color: blue;
	background-color: rgba(172,172,255,0.5);
	
}
.dragArea.row {
	padding: 5px 0px 5px 25px !important;
    min-height: 50px;
}
.dragArea.highlight {
	background-color: rgba(255,204,128,0.6) !important;
}
.edition .form-field.currentField,
.edition .currentField > span.form-field-type {
	background-color: rgba(204,204,255,0.7) !important;
}

.ghost {
	zoom:0.5;
	padding:10px;
	border: 2px #FF6600 dotted;
	background-color: rgba(255,204,128,1) !important;
	margin:10px 0;
}